html::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ff8a00, #e52e71);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

html::-webkit-scrollbar-track {
  background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17);
}

body {
  background-color: #17141d;
}

code {
  color: #ffffff;
}

p,
label {
  font-weight: bold;
  color: #ffffff;
}

pre code {
  font-size: 12px !important;
  color: #ffffff;
}

.badge {
  cursor: pointer;
}

.btn-danger,
.bg-danger {
  background: linear-gradient(90deg, #ff8a00, #e52e71);
}

.card.dark {
  background: #08061f !important;
}

.form-control:focus {
  box-shadow: 0 0 0 0.2rem #ff8a00;
}

.swal2-popup {
  background: #08061f !important;
  border: 10px solid #fff !important;
  border-radius: 20px !important;
}
.swal2-title,
.swal2-content {
  color: #fff !important;
}
.swal2-styled.swal2-confirm,
.swal2-icon.swal2-error {
  background: linear-gradient(90deg, #ff8a00, #e52e71) !important;
}
.swal2-icon.swal2-error {
  border-color: #ffffff !important;
  color: #ffffff !important;
}
.swal2-icon.swal2-error [class^="swal2-x-mark-line"] {
  background-color: #fff !important;
}

.swal2-icon.swal2-success .swal2-success-ring {
  border: 0.25em solid #28a745 !important;
}

.swal2-icon.swal2-success [class^="swal2-success-line"] {
  background-color: #3fef67 !important;
}

/* ::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #08061f;
}

::-webkit-scrollbar-thumb {
  background-color: #0f0c3e;
  border-radius: 10px;
}

.card::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: linear-gradient(90deg, #ff8a00, #e52e71);
  border-radius: 10px;
}

.card::-webkit-scrollbar {
  width: 10px;
  background-color: #08061f;
  border-radius: 10px;
}

.card::-webkit-scrollbar-thumb {
  background-color: #0f0c3e;
  border-radius: 10px;
} */
